/* 

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Slab', serif;

 */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400');

/*---------------*/

/*--Basic Setup--*/

/*---------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {}

li {
    list-style-type: none;
    display: inline-block;
}

.btn {
    padding: 15px 58px;
    font-size: 18px;
    border-radius: 30px;
    transition: all 0.2s;
    border: 1px solid transparent;
}

/*--------------------*/

/*--header section--*/

/*--------------------*/

header {
    background-color: #edeff1;
    padding: 47px 0;
}

.logo {
    width: 20%;
    float: left;
}

nav {
    width: 80%;
    float: left;
    text-align: right;
    padding-top: 3px;
}

nav li a {
    color: #31353e;
    font-size: 18px;
    padding: 12px 25px;
    border-radius: 30px;
    display: block;
    transition: all 0.25s;
}

nav li a:hover {
    background-color: #dd4b2b;
    color: #edeff1;
}

/*--------------------*/

/*--main section--*/

/*--------------------*/

.main {
    background: linear-gradient(#0006, #0000001a), url(banner.png);
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 150vh;
    position: relative;
    background-position: 100% 100%;
}

.banner-position {
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 250px;
    padding-bottom: 100px;
}

.banner-content {
    margin-bottom: 70px;
}

.banner-content h1 {
    font-size: 70px;
    font-weight: 300;
}

.banner-content p {
    font-size: 30px;
}

.banner {
    width: 33.33%;
    float: left;
    min-height: 310px;
}

.banner img {
    margin: 0 auto;
    border: 5px solid #fff;
    border-radius: 50%;
    margin-bottom: 20px;
}

.banner h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.banner p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 100;
    padding: 0 34px;
    line-height: 1.4;
}

.btn-banner {
    color: #612316;
    background-color: #fff;
    display: inline-block;
    margin-top: 55px;
}

.btn-banner:hover {
    background: #612316;
    color: #edeff1;
    border: 1px solid #fff;
}

/*--------------------*/

/*--news section--*/

/*--------------------*/

.news {
    padding: 80px 0 100px 0;
    background-color: #edeff1;
}

.news-heading {
    text-align: center;
}

.news-heading h2 {
    font-size: 30px;
    color: #31353e;
    margin-bottom: 80px;
}

.news-img {
    width: 33.33%;
    float: left;
    text-align: center;
}

.news-img img {}

.news-img h3 {
    font-size: 24px;
    color: #31353e;
    margin: 35px 0 12px 0;
}

.news-img p {
    font-size: 15px;
    font-weight: 300;
    color: #31353e;
    font-family: 'Roboto', sans-serif;
    padding: 0 40px;
    line-height: 1.7;
    margin-bottom: 35px;
}

.news-img a {
    padding: 18px 49px;
    border-radius: 30px;
    background: #fff;
    display: inline-block;
    color: #4e5159;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border: 1px solid transparent;
    transition: all 0.2s;
}

.news-img a:hover {
    background-color: #c0392b;
    color: #fff;
    font-weight: bold;
}

/*--------------------*/

/*--newsletter section--*/

/*--------------------*/

.newsletter {
    background: linear-gradient(#0003, #0003), url(dope00.png);
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 110px;
    background-size: 100% 100%;
}

.newsletter-content {}

.newsletter-content h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 18px;
}

.newsletter-content p {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin-bottom: 40px;
}

.newsletter-form {
    width: 450px;
    margin: 0 auto;
    position: relative;
}

.newsletter-form input {}

input[type="email"] {
    font-size: 18px;
    padding: 15px 35px;
    color: #fff;
    background: #ffffff4d;
    border: 1px solid #ffffff80;
    border-radius: 30px;
    width: 100%;
    font-weight: bold;
}

input[type="submit"] {
    font-size: 18px;
    padding: 15px;
    color: #c0392b;
    background: #fff;
    border: 1px solid #ffffff80;
    border-radius: 30px;
    width: 35%;
    position: absolute;
    left: 65%;
    transition: all 0.2s;
}

input[type="submit"]:hover {
    color: #fff;
    background: #9f2d2180;
    border: 1px solid #ef4f3f;
}

/*--------------------*/

/*--product section--*/

/*--------------------*/

.product-details {
    padding: 65px 0 85px 0;
}

.product {
    text-align: left;
    width: 45%;
    float: left;
    margin: 29px;
}

.product h2 {
    margin: 45px 0 25px 0;
    color: #191b29;
    font-size: 30px;
}

.product p {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin-bottom: 35px;
}

.product span {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.product a {
    display: block;
    width: 35%;
    margin-top: 45px;
    color: #fff;
}

.pro-btn1 {
    background-color: #DD4B2B;
}

.pro-btn1:hover {
    background: #902811;
}

.pro-btn2 {
    background: #1a2175;
}

.pro-btn2:hover {
    background: #0c17ba;
}

.product-img {}

/*--------------------*/

/*--product section--*/

/*--------------------*/

footer {}

.footer-part-1 {
    background: #d75d0e;
    padding: 90px 0 70px 0;
}

.text-section {
    float: left;
    width: 33.33%;
    text-align: center;
}

.text-section p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 0 40px;
    line-height: 1.5;
}

.footer-part-2 {
    background: linear-gradient(#0003, #0003), url(dope00.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 90px 0 195px 0;
    text-align: center;
    color: #fff;
}

.footer-part-2 p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
}

.footer-part-2 span {
    font-size: 18px;
    font-weight: 700;
}
